html,
body {
	height: 100vh;
	padding: 0;
	margin: 0;
}

* {
	font-family: 'Kaisei HarunoUmi', serif;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

#__next {
	height: 100%;
    display: flex;
    flex-direction: column;
}

.ml-auto {
	margin-left: auto;
}

.text-justify {
	text-align: justify;
}
